<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{../css/style.css}">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <div th:if="${param.error}">
                        Invalid username or password
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out
                    </div>
                    <form th:action="@{/login}" method="post" class="form-signin">
                        <div class="form-label-group">
                            <input type="text"  name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                            <label for="inputEmail">Username</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <!--<div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>-->
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 <!--   <h1>Login Page</h1>
        <div th:if="${param.error}">
            Invalid username or password
        </div>
        <div th:if="${param.logout}">
            You have been logged out
        </div>
    <form th:action="@{/login}" method="post">
        <div><label>User name: <input type="text" name="username" />
        </label></div>

        <div><label>Password: <input type="password" name="password" />
        </label></div>
        <div><input type="submit" value="Sign In!" /></div>
    </form>-->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>