<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <link rel="stylesheet" th:href="@{../css/blank.css}">
</head>
<!-- Navbar begin -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">List Vehicles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li sec:authorize="isAuthenticated()" class="nav-link text-warning" th:inline="text">
                Welcome [[${#authentication.name}]]!
            </li>
            <li class="nav-item">
                <a sec:authorize="!isAuthenticated()" class="nav-link text-black" href="/login">Login</a>
            </li>
            <div sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register as a User</a>
                </li></div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="/addcategory">Add a Vehicle Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addcar">Add a Car</a>
                </li>
            </div>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <form th:action="@{/search}" method="post">
                <input type="text" name="search" placeholder="Enter search name" required>
                <input type="submit" value="Submit">
            </form>
        </ul>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid jumbotron-style">
    <div class="container">
        <h1 class="display-4">Kristyn's Wonderful World of Vehicles</h1>

        <hr class="my-4">

        <p class="lead">
            <a class="btn btn-primary btn-lg"
               href="https://www.kbb.com/?psid=19999&siomid=sb8syCRET_dc|114738491693|kelly.%20blue%20book|e|26285ajd51861|pgrid|19636699613|ptaid|aud-387341241246:kwd-133073662853|&segment=&enhancedvs=&ptaid=aud-387341241246%3Akwd-133073662853&gclid=EAIaIQobChMIusXc3tb05wIVmY7ICh22nA5HEAAYASAAEgJzbvD_BwE&pgrid=19636699613&bodystyle="
               target="_blank"
               role="button">Price Used Cars</a>
        </p>
    </div>
</div>
<body>
    <h4 th:align="center">New User Registration</h4>
    <form th:align="center" autocomplete="off"
          action="#"
          th:action="@{/register}"
          th:object="${user}" method="post">

        First Name <mark><strong>
        <span th:if="${#fields.hasErrors('firstName')}"
              th:errors="*{firstName}">First Name Error</span></strong></mark>
        <input type="text" id="firstName" placeholder="First Name"
               th:field="*{firstName}" /><br />
        Last Name <mark><strong>
        <span th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}">Last Name Error</span></strong></mark>
        <input type="text" id="lastName" placeholder="Last Name"
               th:field="*{lastName}" /><br />
        Email <mark><strong>
        <span th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}">First Name Error</span></strong></mark>
        <input type="text" id="email" placeholder="Email"
               th:field="*{email}" /><br />
        Username <mark><strong>
        <span th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">Username Error</span></strong></mark>
        <input type="text" id="username" placeholder="Username"
               th:field="*{username}" /><br />
        Password <mark><strong>
        <span th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">Password Error</span></strong></mark>
        <input type="password" id="password" placeholder="Password"
               th:field="*{password}" /><br />
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit Registration</button>

    </form>
    <footer class="container-fluid text-center">
        <br>
        <br>
        <br>
        <p>Copyright(c) KFerbs 2020</p>
        <br>
        <br>
        <br>
    </footer>
    <script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>